.custom-nav-bg{
    background-color: #212529;
}

.text-custom{
    color: #ee5253;
}

.custom-btn{
    color: #ee5253;
    border: 1px solid #ee5253;
}

.custom-btn:hover{
    background-color: #ee5253;
}

.custom-ul{
    color: #ee5253;
}

.nav{
    color: #ee5253;
}

.custom-li{
    color: #ee5253;
    margin: auto;
}

.custom-cards{
    /*border: 1px solid black;*/
    margin: 60px Auto;
}

.custom-p{
    text-align: justify;
}

.custom-card-footer{
    background-color: #212529;
    height: Auto;
}
.custom-text-a{
    color: #ee5253;
}


.custom-nosotros{
    margin: 65px auto;
}

.custom-h2{
    text-align: center;
    font-weight: bold;
    margin: 0px auto;
}

.custom-p-s1{
    text-align: justify;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 0px auto;
}

.custom-btn-s1{
    color: #ee5253;
    border: 1.5px solid #ee5253;
    background-color: #212529;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px auto;
}

.custom-btn-s1:hover{
    background-color: #ee5253;
    color: #212529;
}

.custom-proyectos{
    margin: 65px auto;
}

.custom-container-pro{
    padding: 15px;
}

.custom-h3{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.custom-p-pro{
    text-align: justify;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.custom-img-pro{
    margin: 0px auto;
}

.custom-card-header{
    background-color: #212529;
    color: #ee5253;
}

.custom-accordion{
    margin: 100px 0px;
}

.custom-btn-form{
    background-color: #212529;
    color: #ee5253;
    border: 1px solid #ee5253;
}

.custom-btn-form:hover{
    background-color: #ee5253;
    color: #212529;
}

.custom-form{
    max-width: 450px;
    margin: 65px auto;
    
}

.custom-text-footer{
    color: #ee5253;
    margin-left: 15px;
    font-size: 12px;
}

.custom-text-contact{
    color: #ee5253;
    font-size: 12px;
    text-align: center;
}
